.header {
    /* position: absolute;
    width: 100vw;
    top: 0;
    left: 0; */
    background: rgb(36, 36, 36);
    color: white;
    padding: 12px;
}
.welcome {
    margin-top: 90px;
}
.role {
    font-size: 1.3em;
    padding: 12px 6px;
    background-color: azure;
}
input[type="button"] {
    cursor: pointer;
    border: 2px solid rgba(255, 0, 0, .4);
    background: rgba(255, 0, 0, .2);
    border-radius: 3px;
    transition: all .3s;
}
input[type="button"]:hover {
    border-color: rgba(255, 0, 0, .7);
}
input[type="button"]:active {
    border-color: rgba(255, 0, 0, .7);
    background: rgba(255, 0, 0, .4);
}
.unlink {
    padding: 3px 9px;
    margin-left: 12px;
    
}
.logout {
    padding: 6px 9px;
    margin-top: 36px;
    font-size: 1em;
}
